body {
  margin: 5% 20%;
  font-family: "Kumbh Sans", sans-serif;
  background-color: black;
  color: #fff;
}

.App {
  text-align: left;
  padding-top: 30px;
}
.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}
